/* Estilos para el componente SecondPage */

.second-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Ajusta según sea necesario */
  }
  
  .page-image {
    max-width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  }

  .signup-button {
    background-color:rgb(32 72 113);;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  