body{
    min-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    color: rgb(32 72 113) ;
}

h2{
    color:rgb(47 47 47)};

button {
  background-color : #204871;
  color: white;
}
