.second-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Ajusta según sea necesario */
}

.image {
  width: 200rem; /* Ajusta el tamaño de la imagen según sea necesario */
}

.paraCentrar{
  display: flex;
  align-items: center;
  justify-content: center;
text-align: center;
}
/* Tu archivo de estilos */

h2 {
  text-indent: 20px; /* Sangría de 20px */
}

/* Añadir un espacio después de "usuario" */
h2::after {
  content: "\00a0"; /* Código del espacio sin romper */
  display: inline; /* Hace que el espacio sea visible */
}

/* Puedes ajustar estos valores según tus preferencias */
