/* Footer Styles */

.footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-color: rgb(32 72 113); 
  color: #fff; 
 
}

.footer div {
  flex: 1;
  margin-right: 20px;
}

.footer nav {
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #fff; /* Cambia el color de los enlaces según tu preferencia */
  text-decoration: none;
  margin-bottom: 10px;
}

.footer h4 {
  color: #fff; /* Cambia el color del título según tu preferencia */
}

.copyrigth {
  margin-top: 20px;
  text-align: center;
}

/* Añade estilos adicionales según sea necesario */
