
.padreSingUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bluebox {
  border: 2px solid #001f3f;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 70%;
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  background-color: #001f3f;
}

.SingUp-container {
    background-color: #fdfdfd;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(8, 2, 2, 20);
    max-width: 300px; 
    width: 100%;
    margin: auto;
    height: 30rem;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-SingUp {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(32 72 113);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    color:rgb(32 72 113);
  }
  
  .Registrarme {
    background-color:rgb(32 72 113);;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .Registrarme:hover {
    background-color: #007acc;
  }
  
  .divparrafo{
    display: flex;
    justify-content: space-around;
  }
  
  .iniciarsesion{
    background-color:rgb(32 72 113);;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 2.5rem;
  }
  .iniciarsesion:hover {
    background-color: #007acc;
  }
  