

.navbar {
  margin-top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32 72 113);
  color:#3498db;
}

.logo {
border-radius: 0;
  width: 200px;
  height: 70px;
  object-fit: cover;
}
.user-icon {
  font-size: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1; 
}

.login-button-container{
  align-items: center;
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
  background-color:rgb(32 72 113);
  color: rgb(32 72 113)#3498db;
 
}

.inicio{
  color: #fff;
  border: #fff solid;
  background-color:rgb(32 72 113) ;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.inicio:hover {
  background-color: #2980b9;
  color: #fff;
}

.inicio2{
  border: none;
  color: rgb(33, 75, 116);
  background-color:rgb(204, 211, 219) ;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.inicio2:hover {
  background-color: #2980b9;
  color: #fff;
}


.social-icons {
  display: flex;
  margin-left: 45rem;
  gap: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #2980b9; /* Color de resaltado de WhatsApp */
}


.burgerBtnNav {
  margin-right: 1rem;
  display: none; /* Ocultar por defecto en pantallas no móviles */
}

/* Media query para dispositivos con un ancho máximo de 768px (puedes ajustar este valor según tus necesidades) */
@media only screen and (max-width: 768px) {
  .social-icons,
  .login-button-container {
    display: none; /* Ocultar los íconos sociales y el contenedor de inicio de sesión en dispositivos móviles */
  }

  .burgerBtnNav {
    display: block; /* Mostrar el contenedor del botón Burger en dispositivos móviles */
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .modalContainer a {
    text-decoration: none;
    color: #333;
  }
  
  .modalContainer a:hover {
    color: #007bff; /* Cambia el color al pasar el ratón sobre el enlace */
  }
  
  .modalContainer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modalContainer .modalIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 50px; 
  }
  
}

