/* Estilo básico para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3498db; /* Ajusta el color de fondo según tu diseño */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto más agradable */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que esté por encima de otros elementos en la página */
  }
  
  /* Estilo para el logo */
.logo {
  width: 200px; /* Puedes ajustar el tamaño según tus necesidades */
  height: 70px; /* Ajusta la altura para que la imagen sea proporcionalmente redonda */
  object-fit:contain; /* Ajusta cómo la imagen se adapta al contenedor sin distorsionar */
}

  
  /* Estilo para el ícono de usuario */
  .user-icon {
    font-size: 20px;
  }
  
  /* Estilo para el botón de iniciar sesión */
  .login-button {
    margin-left: 10px;
  }
  
  .login-button button {
    background-color: #fff; /* Color de fondo blanco */
    color: #3498db; /* Color de texto azul */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button button:hover {
    background-color: #2980b9; /* Cambio de color al pasar el ratón */
    color: #fff;
  }
  