/* FifthPage.css */
.conteinerP5 {
  
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(32, 72, 113);
    padding: 20px; /* Ajusta el padding según tus necesidades */
    color: rgb(255, 255, 255); /* Texto blanco para el contenido */
  }
  
  .titulo2 {
    margin-bottom: 10px;
    color:rgb(255, 255, 255) ; /* Espaciado inferior entre los títulos y los divs */
  }
  
  .planes-container {
    display: flex;
    justify-content: center; /* Centra los divs horizontalmente */
  }
  
  .plan {
    width: 15rem;
    height: 30rem;
    background-color: white; /* Fondo blanco para los divs vacíos */
    margin: 80px; /* Espaciado entre los divs */
  }
  
  .Btn {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
    padding: 30px 50px; /* Ajusta el padding según tus necesidades */
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
    background-color: rgb(32 72 113); /* Puedes cambiar el color del fondo según tus necesidades */
    color: white; /* Texto blanco para el botón */
    border:solid;
    border-color: white;
    cursor: pointer;
    font-size: 1.5em; 
    padding: 10px 20px;
  }
  